:root {
    --bg: #2d3951;
    --header: #1d2d46;
    --white: #fcfdff;
    --white-blue: #e1eded;
    --white-dark: #c4c8d2;
    --slate: #9fa4be;
    --slate-dark: #6678a2;
    --blue-light: #baceff;
    --error-red: #e61d1d;
    --terminal: #051926;
    --shadow: #33457233;
}

code,
pre {
    font-family: "IBM Plex Mono", monospace;
}

header {
    display: block;
    height: 30px;
}

header > div {
    display: grid;
    padding: 0.2rem 0.5rem 0.25rem 1rem;
    background-color: var(--header);
    grid-template-columns: 33% 34% 33%;
}
header > div > div:nth-child(1) {
    text-align: left;
}
header > div > div:nth-child(2) {
    text-align: center;
}
header > div > div:nth-child(3) {
    text-align: right;
}
header h1 {
    font-size: medium;
    margin: 0
}
header button {
    display: block;
    margin: auto;
    outline: none;
    background: transparent;
    border: none;
    font-size: medium;
    color: inherit;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
}
header button:hover {
    color: var(--blue-light);
    cursor: pointer;
}
header a {
    color: var(--white);
    font-size: medium;
    text-decoration-thickness: 1px;
}
header a:hover {
    color: var(--blue-light);
}

html, body {
    margin: 0;
    font-family: "IBM Plex Sans", sans-serif;
    background-color: var(--bg);
    color: var(--white-blue);
}
.mainBody {
    height: calc(100vh - 30px);
}

.gridContainer {
    display: grid;
    grid-template-columns: 35% 65%;
    height: 100%;
}

.window {
    border-radius: 0.9rem;
    padding: 1rem;
    overflow: scroll;
}
.window:nth-child(1) {
    margin: 1rem 0.5rem 1rem 1rem;
}
.window:nth-child(2) {
    margin: 1rem 1rem 1rem 0.5rem;
}

.intruderInterface {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    font-weight: 600;
    background-color: var(--slate);
    color: var(--white);
}

#intruderHistory {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 0.75em;
    height: 100%;
    min-height: 4em;
    color: var(--slate-dark);
    padding: 0.5rem;
    border-radius: 0.45rem;
    background-color: var(--terminal);
    overflow: scroll;
}

.segmentSuccess::before,
.segmentFailed::before {
    display: inline-block;
    font-weight: 800;
    margin-right: 0.5em;
    width: 1em;
}
.segmentSuccess::before {
    content: '✔';
    color: mediumseagreen;
}
.segmentFailed::before {
    content: '✕';
    color: red;
}
#intruderHistory > .line {
    text-indent: hanging 1.5em;
}

.terminal {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.25em;
    background-color: var(--terminal);
    flex-direction: column-reverse;
}

.terminal:hover {
    cursor: text;
}

.form {
    font-family: inherit;
    font-size: 0.9em;
    display: block;
    border-radius: 0.4rem;
    outline: 0.25rem transparent;
    border: transparent;
    padding: 0.3rem 0.4rem;
    margin: 0.2rem 0.2rem 1.0rem 0.2rem;
    background-color: var(--slate-dark);
    color: var(--white);
}
.form:focus {
    outline: 0.25rem solid var(--blue-light);
    border: #8177d3ee;
    box-shadow: 10px 10px 20px var(--shadow);
}
.form[type="submit"] {
    padding-left: 0.6rem;
    padding-right: 0.8rem;
    background-color: #3c5795;
}
.form[type="submit"]:hover {
    cursor: pointer;
}
.form[type="number"] {
    width: 30%;
}

.formAdjacent {
    display: flex;
}
.formAdjacentLeft {
    margin-right: 0.75rem;
}
.formAdjacentRight {
    margin-left: 0.75rem;
}

.formInput {
    max-width: 95%;
}
.formInput:read-only {
    color: var(--white-dark);
}
.formInput:read-only:hover {
    cursor: not-allowed;
}

.lineCommand::before {
    width: 10%;
    content: '[user@pc]# ';
    color: #a2a0cd;
}

.lineCommand,
.lineError {
    word-break: break-all;
}

.lineError {
    color: var(--error-red);
}

.line,
.lineCommand,
.lineError {
    margin: 0;
}

.cliInput {
    display: inline;
    background: transparent;
    border: none;
    padding: 0;
    width: 100%;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.cliInput br {
    display: none;
}

.cliInput:focus, .cliInput:focus-visible {
    outline: none;
    border: none;
}

.allowTextWrap {
    white-space: normal;
}

.invisible {
    display: none;
}

.modal {
    position: fixed;
    display: none;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    transition: opacity 0.2s;
}
.modal.block {
    display: block;
}
.modal.show {
    opacity: 100%;
}
.modalContent {
    max-width: 736px;
    margin: 25px auto 25px auto;
    max-height: calc(100vh - 100px);
    font-size: 1.1em;
    border-radius: 0.4rem;
    box-shadow: 10px 10px 20px var(--shadow);
    background-color: var(--slate-dark);
    padding: 1em;
    transition: background-color 0.5s;
}
.modalBody {
    color: var(--white);
    max-height: calc(100vh - 148px);
    overflow: scroll;
}
.modalHeader {
    display: flex;
    width: 100%;
    border-bottom: 2px solid var(--slate);
}
.modalTitle {
    margin-top: 0.5em;
    margin-bottom: 0;
    margin-right: 0.2em;
    display: inline-block;
}
.modalHeader > p {
    height: min-content;
    font-size: 2em;
    margin: 0 0.3em 0 auto;
}
.modalHeader > p:hover {
    color: var(--blue-light);
    cursor: pointer;
}
#topology {
    color: var(--slate);
    width: min-content;
    margin: auto;
}
#topology .label {
    color: var(--white);
    font-weight: 600;
}
#topology .caption {
    color: var(--white);
}
#topology .subcaption {
    font-style: italic;
    color: var(--white-dark);
}

.bracketLink {
    color: var(--white);
}
.bracketLink:hover {
    color: var(--blue-light);
}
.bracketLink::before {
    content: '[';
    color: var(--white-dark);
}
.bracketLink::after {
    content: ']';
    color: var(--white-dark);
}

@media only screen
and (max-width: 800px) {
    .modalContent {
        margin-right: 16px;
        margin-left: 16px;
    }
    .mainBody {
        max-height: none;
    }
    .gridContainer {
        display: initial;
    }
    .window:nth-child(1),
    .window:nth-child(2) {
        margin: 1rem;
    }
    #intruderHistory {
        height: 10em;
    }
    .terminal {
        height: 20em;
    }
}
